<div class="container spaced socials">
    <h4>Find me on..</h4>
    <ul class="icons">
	      <li>
		        <a class="far fa-envelope" href="mailto:havinleung98@gmail.com" title="Email">Email</a>
	      </li>
	      <li>
		        <a class="fab fa-github" href="https://github.com/HavinLeung" title="Github">Github</a>
	      </li>
	      <li>
		        <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/havinleung/" title="LinkedIn">LinkedIn</a>
	      </li>
	      <li>
		        <a class="fab fa-youtube" href="https://www.youtube.com/channel/UCnKq3xh7CngavDcsXZTl5uw" title="Youtube">Youtube</a>
	      </li>
    </ul>
</div>
