html {
    height: 100%;
}
body {
	  background:linear-gradient(45deg, rgba(200,150,150,0.15), rgba(50,150,200,0.15));
	  background-attachment: fixed;
    padding-bottom: 40px;
}
@media print {
    body {
        background: white;
    }
}
hr.about-me {
    padding-bottom: 0.5rem;
}
.navbar {
    font-size: 1.1rem;
}
.spaced {
    margin-top: 60px;
}
@media print{
    .socials {
        display: none;
    }
}
.homepage {
    color: gray;
}
body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.2rem;
    font-weight: lighter;
}
.name-container{
    text-align: center;
}
.name {
    color: black;
    font-weight: lighter;
    letter-spacing: 0.1em;
}
a {
    color:darkblue;
}
blockquote {
    background: #ddd;
    border-left: 4px solid #bbb;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
blockquote p {
    display: inline;
}

figure.fig {
    padding: 2em 0 2em 0;
}
figure.fig img {
    width: 100%;
}
figure.fig figcaption {
    text-align: center;
}

/* socials stuff */
ul.icons{
	  list-style: none;
	  padding-left: 0;
	  width:100%;
}
ul.icons li {
	  display: inline-block;
	  padding: 0.65em 0.5em;
}
ul.icons li a {
	  text-decoration: none;
	  position: relative;
	  display: block;
	  width: 3em;
	  height: 3em;
	  border-radius: 100%;
	  border: solid 1px #c8cccf;
	  line-height: 3em;
	  overflow: hidden;
	  text-align: center;
	  text-indent: 3em;
	  white-space: nowrap;
	  transition: 0.2s;
}
ul.icons li a:hover {
	  background:#dadada;
}
ul.icons li a:active {
	  background:#d0d0d0;
}
ul.icons li a:before {
	  position:absolute;
	  top:0;
	  left:0;
	  width:inherit;
	  height:inherit;
	  font-size: 1.7rem;
	  color:black;
	  text-align:center;
	  text-indent:0;
}
ul.icons li a:before {
	  color: #ffffff;
	  text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}
